<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Force-Directed Graph</title>
    
    <link rel="stylesheet" href="/index.css">

</head>
<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <div class="search-container">
          <form>
            <input type="text" id ="call-name" placeholder="Search...">
            <button type="button" id="callButton" type="submit" value="submit">Search</button>
          </form>
        </div>
      </div>
      
      <div class="clearfix"></div>
    <svg id="graph" ></svg>
    <div class="sidebar" id="sidebar">
        <h2>Edge Details</h2>
        <table id="edgeDetails">
          <thead>
            <tr>
              <th>Source</th>
              <th>Destination</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
    <div id="tooltip"></div>
    <div id="myData" style="display: none;"> <%= decodeURIComponent(JSON.stringify(data)) %> </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/index.js"></script>
  <script>
    // console.log(<%- JSON.stringify(data) %>) ;
  </script>
</body>
</html>

ßß -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Force-Directed Graph</title>
    

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

 
    <link rel="stylesheet" href="/index.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Force-Directed Graph</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
      
    <div class="clearfix"></div>
    
 
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-9">
              <svg id="graph" ></svg>
          </div>
          <div class="col-md-3">
              <div id="additionalData">
                  <h2>Additional Data</h2>
                  <p>This is additional data that you can display here.</p>
                  <p>You can add more content as needed.</p>
              </div>
          </div>
      </div>
  </div>
    <div class="sidebar  mx-2 w-100" id="sidebar">
        <h2>Edge Details</h2>
        <table id="edgeDetails" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
           
            </tbody>
        </table>
    </div>
    <div id="tooltip"></div>
    <div id="myData" style="display: none;"> <%= decodeURIComponent(JSON.stringify(data)) %> </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/index.js"></script>
</body>
</html> -->