

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Force-Directed Graph</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/json-viewer-js/dist/json-viewer.css"> -->
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/index.css">
</head>
<body>

    <div class="navbar">
        <a class="navbar-brand" href="#">Fiddler Call Mapper</a>
        <div class="graph-data ">
          <form id="graphForm" class="navbar-css" method="post" action="/graph">
            <div class="form-group" >
              <textarea class="form-control" id="graphjsonInput" rows="0" name="data" hidden></textarea>
              <button type="submit" class="btn btn-primary" id="graphsubmitButton" name ="data" >Response Time Graph</button>
            </div>
          </form>
        </div>
        <div class="search-container">
          <form >
            <input type="text" id ="call-name" placeholder="Search Url ...">
            <button type="button" id="callButton" type="submit" value="submit">Search</button>
          </form>
        </div>
      </div>
          <div class="container-fluid">
        <div class="row no-gutters">

            <div class="col-md-12 graph-div" >
                <svg id="graph" class="pd-2" style="min-height:150vh;max-height: 200vh;background-color: rgb(80, 80, 80);"></svg>
            </div>
            
            <div id ="edgeData" class="col-md-12" style="display: none;">
              <h1 style="background-color: white;">Node Details</h1>
                <div id="additionalData">
                
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12">
                <div class="sidebar" id="sidebar" style="display: none;">
                    <h2>Edge Details</h2>
                    <table id="edgeDetails">
                      <thead>
                        <tr>
                          <th>Source</th>
                          <th>Destination</th>
                          <th>Weight</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="tooltip"></div>
    <div id="myData" style="display: none;"> <%= JSON.stringify(data) %> </div>
    

  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/htmltojson.js"></script>
    <script src="/index.js"></script>
</body>
</html>
